<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KanbanSDA</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Board.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("KanbanSDA", "Index", "Project", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Projects", "Index", "Project")</li>
                    <li>@Html.ActionLink("Issues", "Index", "Issue")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - KanbanSDA</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        var draggedItemId = null;
        var targetColumn = null;
        var targetPosition = null;

        $(document).ready(function () {
            $(function () {
                $(".sortable-column").sortable({
                    connectWith: ".sortable-column",
                    stop: function (event, ui) {
                        draggedItemId = ui.item.attr('id');
                        var issueId = draggedItemId.substr(6);
                        
                        targetColumn = ui.item.parent().attr('id');
                        var columnId = targetColumn.substr(7);
                        
                        targetPosition = ui.item.index();
                        var position = targetPosition + 1;
                        
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("SetNewPosition")?issueId=" + issueId + "&columnId=" + columnId + "&position=" + position
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>